
.first{
    background-color:azure;    
    margin: auto;
    margin-top: 20px;
    width: 70%;
    height: 1000px;
    justify-content: center;
    justify-items: center;
    border: 5px solid black;
}

.second{
    width: 100%;
    height: 25px;
    text-align: center;
    font-size: 20px;
}
.third{
    width: 100%;
    height: 25px;
    text-align: center;
    color:rgb(184, 207, 207);
}
.fourth{
    width: 90%;
    height: 250px;
    display: flex;
    margin:auto;
    margin-top: 5%;
}

.fifth{
    width: 90%;
    height: 315px;
    margin: auto;
    margin-top: 5%;
}

.sixth{
    width: 100%;
    margin: auto;
    border: 1px solid rgb(209, 209, 195);

}

body {
    font-family: Arial;
}

.tab {
  overflow: hidden;
  background-color:rgb(199, 216, 224);
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: rgb(252, 246, 246);
}

.tab button.active {
  background-color: rgb(253, 251, 251);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  background-color: white;
  border-top: none;
  height: 400px;
}